.recipe-card {
  width: 100%;
}

.recipe-card h1{
  border-top: solid #a3a1a8;
  border-top-width: thin;
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 24px
}
.recipe-card img{
  padding-bottom: 20px;
}
