.recipe-card {
  display: grid;
  grid-template-areas: 
  "img"
  "label";
  grid-template-columns: 300px;
  grid-template-rows: auto;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

/* recipe-card h1 {
  border-top: 1px solid #ff655a; */
