.favourite {
    border: 1px solid #FF665A;
    border-radius: 100%;
    padding: 3px;
    border-style: none;
    text-align: center;
    transition: transform 0.25s ease-in-out;

  }

  .favourite:hover {
      transition: transform 0.25s ease-in-out;
    transform: scale(1.025);

  }