.searching {
    font-size: 2.75rem;
    margin-left: 49%;
    color: #FF665A;
    animation: spin 1s linear infinite;
    background: -webkit-linear-gradient(#FFF587, #FF8C64, #FF665A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}