.recipe-search {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

.recipe-search h3{
  font-family: "Abel";
  font-size: 60px;
}

#input-ingredient{
  font-family: "Abel";
  border-bottom: 2px solid #FF665A;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  font-size: 3rem;
  background-color: #ffffff;
}

#input-ingredient:focus{
outline-style: none;
}
.search-button{
  background-color: #FF665A; /* coral */
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}

.search-button:hover {
  background-color: #f54235; /* dark coral */
}
